@page
@model Web.Pages.AuthModel
@{
}

<html>

<head>
    <link rel="stylesheet" href="~/css/site.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <center>
        <div class="box" id="Auth">
            <form method="post" role="form" enctype="multipart/form-data">

                <h2>Авторизация</h2>
                <center>
                    <div class="inputBox">
                        <input type="text" asp-for="InputAuth.login" required="required">
                        <span>Имя пользователя</span>
                        <i></i>
                    </div>

                    <div class="inputBox">
                        <input type="password" asp-for="InputAuth.password" required="required">
                        <span>Пароль</span>
                        <i></i>
                    </div>
                </center>

                <div class="remember_forgot" align="left">
                    <label><input type="checkbox" name="checkbox" /> Запомнить</label>
                </div>

                <div class="links" align="right">
                    <p>
                        <a asp-page="SignUp">Зарегистрироваться</a>
                    </p>
                </div>

                <input type="submit" value="Вход">

            </form>
        </div>
    </center>
</body>

</html>