@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <center>
        @{
            var sessionId = HttpContext.Session.GetString("SampleSession");
            if (sessionId != null)
            {
                <h1 style="color: #fff">Тип заявки</h1>
                <a class="btn btn-lg btn-primary btn-block" asp-page="Personal">
                    <img width="300" height="300" src="~/image/profile.jpg" />
                    <p></p>
                    <h4>Личная</h4>
                </a>
                <a class="btn btn-lg btn-primary btn-block" asp-page="Groups">
                    <img width="300" height="300" src="~/image/team.jpg" />
                    <p></p>
                    <h4>Групповая</h4>
                </a>
                <p></p>
                <a class="btn btn-lg btn-primary btn-block" asp-page="History" asp-route-id="@sessionId">История заявок</a>
            }
            else
            {
                <h1>Добро пожаловать</h1>
            }
        }

    </center>

</body>
</html>