@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <center>
                @{
                    var sessionId = HttpContext.Session.GetString("SampleSession");
                    if (sessionId != null)
                    {
                        <h1>Тип заявки</h1>
                        <div class="container">
                            <a class="btn" asp-page="Personal">
                                <img width="200" height="200" src="~/img/one.png" />
                                <p></p>
                                <h4>Личная</h4>
                            </a>
                            <a class="btn" asp-page="Groups">
                                <img width="200" height="200" src="~/img/group.png" />
                                <p></p>
                                <h4>Групповая</h4>
                            </a>
                        </div>
                        <p></p>
                    <a class="btn btn-outline-dark" asp-page="History" asp-route-id="@sessionId">История заявок</a>
                    }
                    else
                    {
                        <h1>Добро пожаловать</h1>
                    }
                }

            </center>
        </div>
    </body>
</html>