@page
@model Web.Pages.SignUpModel
@{
}

<html>
    <head>
        <title>Sing Up</title>

    </head>
    <body>
        <center>
            <div class="box" id="Sign">
            <form method="post" role="form" enctype="multipart/form-data">
                    <h2>Регистрация</h2>
                    <center>
                        <div class="inputBox">
                            <input type="text" asp-for="InputSignUp.login" required="required">
                            <span>Электронная почта</span>
                            <i></i>
                        </div>
                        <div class="inputBox">
                            <input type="text" asp-for="InputSignUp.userName" required="required">
                            <span>Имя</span>
                            <i></i>
                        </div>
                        <div class="inputBox">
                            <input type="password" asp-for="InputSignUp.password" required="required">
                            <span>Пароль</span>
                            <i></i>
                        </div>
                        <div class="inputBox">
                            <input type="text" asp-for="InputSignUp.passport" required="required">
                            <span>Серия и номер паспорта</span>
                            <i></i>
                        </div>
                    </center>
                    <div class="links">
                        <a asp-page="Auth">Авторизация</a>
                    </div>
                    <input type="submit" value="Login">
                </form>
            </div>
        </center>
    </body>
</html>